In [56]:
import pandas as pd
import matplotlib as mpl
pd.Series.__unicode__ = pd.Series.to_string

In [57]:
df=pd.read_csv("./census2011.csv")

In [58]:
df

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,6,2,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,3,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1,2,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,1,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,3,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,1,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,1,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,-9,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,4,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,-9,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,4
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [27]:
len(df)

569741

In [28]:
print("All Data Types:\n" + str(df.dtypes))

All Data Types:
Person ID                     int64
Region                       object
Residence Type               object
Family Composition            int64
Population Base               int64
Sex                           int64
Age                           int64
Marital Status                int64
Student                       int64
Country of Birth              int64
Health                        int64
Ethnic Group                  int64
Religion                      int64
Economic Activity             int64
Occupation                    int64
Industry                      int64
Hours worked per week         int64
Approximated Social Grade     int64

In [29]:
#counting the number of records
print("number of records = " + str(df['Person ID'].count()))

number of records = 569741

In [30]:
df['Residence Type'].value_counts()

H    559087
C     10654

In [31]:
for column in df:
    if (column != "Person ID"):
        print(str(column)+ " Counts\n" +str(df[column].value_counts()) + "\n")

Region Counts
E12000008    88084
E12000007    83582
E12000002    71436
E12000006    59411
E12000005    56875
E12000009    53774
E12000003    53471
E12000004    45782
W92000004    30977
E12000001    26349

Residence Type Counts
H    559087
C     10654

Family Composition Counts
 2    300962
 1     96690
 3     72641
 5     64519
-9     18851
 4      9848
 6      6230

Population Base Counts
1    561040
2      6730
3      1971

Sex Counts
2    289172
1    280569

Age Counts
1    106832
4     78641
5     77388
3     75948
2     72785
6     65666
7     48777
8     43704

Marital Status Counts
1    270999
2    214180
4     40713
5     31898
3     11951

Student Counts
2    443204
1    126537

Country of Birth Counts
 1    485645
 2     77292
-9      6804

Health Counts
 1    264971
 2    191744
 3     74480
 4     24558
 5      7184
-9      6804

Ethnic Group Counts
 1    483477
 3     42712
 4     18786
 2     12209
-9      6804
 5      5753

Religion Counts
 2    333481
 1    141658
 9     40613
 6     27240
 4      8214
-9      6804
 7      4215
 5      2572
 3      2538
 8      2406

Economic Activity Counts
 1    216025
-9    112618
 5     97480
 2     40632
 6     24756
 3     18109
 8     17991
 7     17945
 4     14117
 9     10068

Occupation Counts
-9    149984
 2     64111
 9     58483
 4     53254
 5     48546
 3     44937
 1     39788
 7     38523
 6     37297
 8     34818

Industry Counts
-9     149984
 4      68878
 2      53433
 8      49960
 11     49345
 10     40560
 6      35240
 3      30708
 5      25736
 9      24908
 12     20256
 7      16776
 1       3957

Hours worked per week Counts
-9    302321
 3    153938
 2     52133
 4     35573
 1     25776

Approximated Social Grade Counts
 2    159642
-9    124103
 4    123740
 1     82320
 3     79936

In [32]:
print(str(df.groupby('Economic Activity')))

<pandas.core.groupby.DataFrameGroupBy object at 0x11bebf710>

In [33]:
newdf = df
newdf

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,6,2,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,3,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1,2,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,1,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,3,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,1,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,1,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,-9,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,4,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,-9,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,4
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [34]:
#for index, row in newdf.iterrows():
 #   newdf.set_value('Residence Type', index, 10)
    #print(str(row['Residence Type']))
#newdf
newdf.loc[0,'Residence Type'] = 10

In [35]:
newdf

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,10,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,6,2,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,3,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1,2,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,1,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,3,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,1,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,1,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,-9,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,4,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,-9,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,4
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [36]:
for column in newdf:
    print(column)

Person ID
Region
Residence Type
Family Composition
Population Base
Sex
Age
Marital Status
Student
Country of Birth
Health
Ethnic Group
Religion
Economic Activity
Occupation
Industry
Hours worked per week
Approximated Social Grade

In [38]:
for index, row in newdf.iterrows():
    #print(str(row))

SyntaxError: unexpected EOF while parsing (<ipython-input-38-fc6982c209f5>, line 2)

In [39]:
row = 0
column = 'Residence Type'
df.loc[row,column] = 10
df

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,10,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,6,2,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,3,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1,2,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,1,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,3,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,1,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,1,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,-9,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,4,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,-9,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,4
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [55]:
#funcname = lambda x: x = 10

df["Residence Type"].apply(lambda x: str(x).lower())

# for column in df:
#     print(column)
#     if (column == 'Residence Type'):
        
df

,Person ID,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,7394816,E12000001,10,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,7394745,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,7395066,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,7395329,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,7394712,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2
5,7394750,E12000001,H,2,1,1,6,2,2,1,2,1,1,1,9,2,3,3
6,7394871,E12000001,H,5,1,2,4,3,2,1,2,1,1,1,6,11,2,3
7,7394832,E12000001,H,3,1,2,1,1,2,1,2,1,1,-9,-9,-9,-9,-9
8,7394719,E12000001,H,2,1,1,7,2,2,1,1,1,2,5,8,2,-9,2
9,7394840,E12000001,H,1,1,2,6,4,2,1,3,1,2,5,9,5,-9,4
10,7394510,E12000001,H,1,1,1,3,1,2,1,3,1,8,1,8,2,3,4
11,7394711,E12000001,H,2,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
12,7395070,E12000001,H,1,1,2,2,1,2,1,1,1,2,1,7,2,3,2
13,7394869,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,-9,-9,-9,2
14,7394971,E12000001,H,5,1,2,2,1,2,1,2,1,2,1,7,4,2,4
15,7395019,E12000001,H,1,1,2,2,1,1,1,2,1,1,4,7,6,-9,2
16,7395069,E12000001,H,3,1,1,2,1,2,1,1,1,1,2,8,3,4,4
17,7394933,E12000001,H,3,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
18,7395059,E12000001,H,1,1,1,4,1,2,1,3,1,1,1,8,2,3,4
19,7394875,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
20,7394764,E12000001,H,2,1,1,7,2,2,1,3,1,2,5,9,2,-9,4
21,7394645,E12000001,H,5,1,2,5,4,2,1,3,1,2,2,7,7,1,4
22,7394857,E12000001,H,2,1,1,4,2,2,1,1,1,1,1,8,2,3,4
23,7395021,E12000001,H,2,1,1,8,2,2,1,3,1,2,5,5,2,-9,3
24,7395361,E12000001,H,2,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
25,7394927,E12000001,H,3,1,1,3,1,2,1,2,1,2,1,7,4,3,4
26,7395359,E12000001,H,2,1,1,5,2,2,1,2,1,2,2,1,3,3,1
27,7394920,E12000001,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
28,7394688,E12000001,H,2,1,2,2,1,1,1,1,1,9,4,7,4,1,2
29,7394516,E12000001,H,2,1,1,4,2,2,1,1,1,2,1,8,10,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569711,7945320,W92000004,H,5,1,1,2,1,1,1,1,1,1,6,-9,-9,-9,2
569712,7945525,W92000004,H,2,1,2,6,2,2,1,1,1,1,5,2,9,-9,1
569713,7945015,W92000004,H,2,1,1,3,2,2,1,1,1,2,2,3,8,3,2
569714,7945696,W92000004,H,5,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569715,7946510,W92000004,H,3,1,1,3,1,2,2,1,1,1,1,3,4,3,2
569716,7944271,W92000004,H,2,1,2,3,1,2,1,3,1,1,8,-9,-9,-9,4
569717,7945866,W92000004,H,2,1,2,3,2,2,1,1,1,2,2,9,8,2,4
569718,7945678,W92000004,H,5,1,2,1,1,2,1,1,1,9,-9,-9,-9,-9,-9
569719,7946159,W92000004,H,5,1,1,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569720,7945787,W92000004,H,2,1,1,7,2,2,1,1,1,2,5,2,10,-9,1
569721,7944597,W92000004,H,2,1,2,3,2,2,1,1,1,1,1,2,10,3,1
569722,7945507,W92000004,H,2,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569723,7944767,W92000004,H,2,1,1,3,1,2,1,1,1,2,3,4,12,-9,4
569724,7945970,W92000004,H,2,1,2,7,2,2,1,2,1,2,5,9,10,-9,3
569725,7945073,W92000004,H,1,1,2,4,1,2,1,1,1,2,1,4,11,3,2
569726,7945274,W92000004,H,1,1,2,7,1,2,1,3,1,2,5,4,11,-9,2
569727,7945542,W92000004,H,-9,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
569728,7944956,W92000004,H,2,1,2,5,2,2,1,2,1,1,1,4,12,3,2
569729,7946548,W92000004,H,5,1,2,2,1,1,1,2,2,1,6,-9,-9,-9,2
569730,7944917,W92000004,H,2,1,1,1,1,1,1,2,1,1,-9,-9,-9,-9,-9
569731,7944616,W92000004,H,2,1,2,7,2,2,1,3,1,2,5,7,4,-9,2
569732,7946558,W92000004,H,3,1,2,1,1,1,1,1,1,1,-9,-9,-9,-9,-9
569733,7944827,W92000004,H,5,1,2,4,4,2,1,1,1,1,1,6,10,2,4
569734,7944370,W92000004,H,1,1,1,3,3,1,2,3,4,6,4,9,6,2,2
569735,7944868,W92000004,H,2,1,1,2,1,2,1,1,1,2,1,4,9,3,2
569736,7946020,W92000004,H,1,1,1,5,1,2,1,4,1,9,1,8,8,3,3
569737,7944310,W92000004,H,3,1,1,3,1,2,1,2,1,1,1,7,4,3,4
569738,7945374,W92000004,H,3,1,1,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
569739,7944768,W92000004,H,1,1,2,8,5,2,1,3,1,9,5,9,2,-9,4
569740,7944959,W92000004,H,2,1,2,2,2,2,1,2,1,1,1,7,4,1,4

In [69]:
easy11 = df.groupby(['Region','Industry']).count()

In [70]:
easy11

                    Person ID  Residence Type  Family Composition  \
Region    Industry
E12000001 -9             6854            6854                6854
           1              132             132                 132
           2             2851            2851                2851
           3             1574            1574                1574
           4             3087            3087                3087
           5             1300            1300                1300
           6             1438            1438                1438
           7              524             524                 524
           8             1883            1883                1883
           9             1498            1498                1498
           10            1836            1836                1836
           11            2524            2524                2524
           12             848             848                 848
E12000002 -9            18755           18755               18755
           1              357             357                 357
           2             7726            7726                7726
           3             3778            3778                3778
           4             9016            9016                9016
           5             3355            3355                3355
           6             3981            3981                3981
           7             1597            1597                1597
           8             5822            5822                5822
           9             3096            3096                3096
           10            4890            4890                4890
           11            6764            6764                6764
           12            2299            2299                2299
E12000003 -9            14089           14089               14089
           1              362             362                 362
           2             5956            5956                5956
           3             3028            3028                3028
...                       ...             ...                 ...
E12000008  9             4145            4145                4145
           10            6593            6593                6593
           11            7344            7344                7344
           12            3316            3316                3316
E12000009 -9            12401           12401               12401
           1              697             697                 697
           2             5012            5012                5012
           3             3033            3033                3033
           4             6899            6899                6899
           5             2712            2712                2712
           6             2961            2961                2961
           7             1510            1510                1510
           8             4475            4475                4475
           9             2973            2973                2973
           10            4039            4039                4039
           11            5085            5085                5085
           12            1977            1977                1977
W92000004 -9             7937            7937                7937
           1              403             403                 403
           2             3504            3504                3504
           3             1731            1731                1731
           4             3751            3751                3751
           5             1641            1641                1641
           6             1500            1500                1500
           7              594             594                 594
           8             2010            2010                2010
           9             1714            1714                1714
           10            2313            2313                2313
           11            2887            2887                2887
           12             992             992                 992

                    Population Base    Sex    Age  Marital Status  Student  \
Region    Industry
E12000001 -9                   6854   6854   6854            6854     6854
           1                    132    132    132             132      132
           2                   2851   2851   2851            2851     2851
           3                   1574   1574   1574            1574     1574
           4                   3087   3087   3087            3087     3087
           5                   1300   1300   1300            1300     1300
           6                   1438   1438   1438            1438     1438
           7                    524    524    524             524      524
           8                   1883   1883   1883            1883     1883
           9                   1498   1498   1498            1498     1498
           10                  1836   1836   1836            1836     1836
           11                  2524   2524   2524            2524     2524
           12                   848    848    848             848      848
E12000002 -9                  18755  18755  18755           18755    18755
           1                    357    357    357             357      357
           2                   7726   7726   7726            7726     7726
           3                   3778   3778   3778            3778     3778
           4                   9016   9016   9016            9016     9016
           5                   3355   3355   3355            3355     3355
           6                   3981   3981   3981            3981     3981
           7                   1597   1597   1597            1597     1597
           8                   5822   5822   5822            5822     5822
           9                   3096   3096   3096            3096     3096
           10                  4890   4890   4890            4890     4890
           11                  6764   6764   6764            6764     6764
           12                  2299   2299   2299            2299     2299
E12000003 -9                  14089  14089  14089           14089    14089
           1                    362    362    362             362      362
           2                   5956   5956   5956            5956     5956
           3                   3028   3028   3028            3028     3028
...                             ...    ...    ...             ...      ...
E12000008  9                   4145   4145   4145            4145     4145
           10                  6593   6593   6593            6593     6593
           11                  7344   7344   7344            7344     7344
           12                  3316   3316   3316            3316     3316
E12000009 -9                  12401  12401  12401           12401    12401
           1                    697    697    697             697      697
           2                   5012   5012   5012            5012     5012
           3                   3033   3033   3033            3033     3033
           4                   6899   6899   6899            6899     6899
           5                   2712   2712   2712            2712     2712
           6                   2961   2961   2961            2961     2961
           7                   1510   1510   1510            1510     1510
           8                   4475   4475   4475            4475     4475
           9                   2973   2973   2973            2973     2973
           10                  4039   4039   4039            4039     4039
           11                  5085   5085   5085            5085     5085
           12                  1977   1977   1977            1977     1977
W92000004 -9                   7937   7937   7937            7937     7937
           1                    403    403    403             403      403
           2                   3504   3504   3504            3504     3504
           3                   1731   1731   1731            1731     1731
           4                   3751   3751   3751            3751     3751
           5                   1641   1641   1641            1641     1641
           6                   1500   1500   1500            1500     1500
           7                    594    594    594             594      594
           8                   2010   2010   2010            2010     2010
           9                   1714   1714   1714            1714     1714
           10                  2313   2313   2313            2313     2313
           11                  2887   2887   2887            2887     2887
           12                   992    992    992             992      992

                    Country of Birth  Health  Ethnic Group  Religion  \
Region    Industry
E12000001 -9                    6854    6854          6854      6854
           1                     132     132           132       132
           2                    2851    2851          2851      2851
           3                    1574    1574          1574      1574
           4                    3087    3087          3087      3087
           5                    1300    1300          1300      1300
           6                    1438    1438          1438      1438
           7                     524     524           524       524
           8                    1883    1883          1883      1883
           9                    1498    1498          1498      1498
           10                   1836    1836          1836      1836
           11                   2524    2524          2524      2524
           12                    848     848           848       848
E12000002 -9                   18755   18755         18755     18755
           1                     357     357           357       357
           2                    7726    7726          7726      7726
           3                    3778    3778          3778      3778
           4                    9016    9016          9016      9016
           5                    3355    3355          3355      3355
           6                    3981    3981          3981      3981
           7                    1597    1597          1597      1597
           8                    5822    5822          5822      5822
           9                    3096    3096          3096      3096
           10                   4890    4890          4890      4890
           11                   6764    6764          6764      6764
           12                   2299    2299          2299      2299
E12000003 -9                   14089   14089         14089     14089
           1                     362     362           362       362
           2                    5956    5956          5956      5956
           3                    3028    3028          3028      3028
...                              ...     ...           ...       ...
E12000008  9                    4145    4145          4145      4145
           10                   6593    6593          6593      6593
           11                   7344    7344          7344      7344
           12                   3316    3316          3316      3316
E12000009 -9                   12401   12401         12401     12401
           1                     697     697           697       697
           2                    5012    5012          5012      5012
           3                    3033    3033          3033      3033
           4                    6899    6899          6899      6899
           5                    2712    2712          2712      2712
           6                    2961    2961          2961      2961
           7                    1510    1510          1510      1510
           8                    4475    4475          4475      4475
           9                    2973    2973          2973      2973
           10                   4039    4039          4039      4039
           11                   5085    5085          5085      5085
           12                   1977    1977          1977      1977
W92000004 -9                    7937    7937          7937      7937
           1                     403     403           403       403
           2                    3504    3504          3504      3504
           3                    1731    1731          1731      1731
           4                    3751    3751          3751      3751
           5                    1641    1641          1641      1641
           6                    1500    1500          1500      1500
           7                     594     594           594       594
           8                    2010    2010          2010      2010
           9                    1714    1714          1714      1714
           10                   2313    2313          2313      2313
           11                   2887    2887          2887      2887
           12                    992     992           992       992

                    Economic Activity  Occupation  Hours worked per week  \
Region    Industry
E12000001 -9                     6854        6854                   6854
           1                      132         132                    132
           2                     2851        2851                   2851
           3                     1574        1574                   1574
           4                     3087        3087                   3087
           5                     1300        1300                   1300
           6                     1438        1438                   1438
           7                      524         524                    524
           8                     1883        1883                   1883
           9                     1498        1498                   1498
           10                    1836        1836                   1836
           11                    2524        2524                   2524
           12                     848         848                    848
E12000002 -9                    18755       18755                  18755
           1                      357         357                    357
           2                     7726        7726                   7726
           3                     3778        3778                   3778
           4                     9016        9016                   9016
           5                     3355        3355                   3355
           6                     3981        3981                   3981
           7                     1597        1597                   1597
           8                     5822        5822                   5822
           9                     3096        3096                   3096
           10                    4890        4890                   4890
           11                    6764        6764                   6764
           12                    2299        2299                   2299
E12000003 -9                    14089       14089                  14089
           1                      362         362                    362
           2                     5956        5956                   5956
           3                     3028        3028                   3028
...                               ...         ...                    ...
E12000008  9                     4145        4145                   4145
           10                    6593        6593                   6593
           11                    7344        7344                   7344
           12                    3316        3316                   3316
E12000009 -9                    12401       12401                  12401
           1                      697         697                    697
           2                     5012        5012                   5012
           3                     3033        3033                   3033
           4                     6899        6899                   6899
           5                     2712        2712                   2712
           6                     2961        2961                   2961
           7                     1510        1510                   1510
           8                     4475        4475                   4475
           9                     2973        2973                   2973
           10                    4039        4039                   4039
           11                    5085        5085                   5085
           12                    1977        1977                   1977
W92000004 -9                     7937        7937                   7937
           1                      403         403                    403
           2                     3504        3504                   3504
           3                     1731        1731                   1731
           4                     3751        3751                   3751
           5                     1641        1641                   1641
           6                     1500        1500                   1500
           7                      594         594                    594
           8                     2010        2010                   2010
           9                     1714        1714                   1714
           10                    2313        2313                   2313
           11                    2887        2887                   2887
           12                     992         992                    992

                    Approximated Social Grade
Region    Industry
E12000001 -9                             6854
           1                              132
           2                             2851
           3                             1574
           4                             3087
           5                             1300
           6                             1438
           7                              524
           8                             1883
           9                             1498
           10                            1836
           11                            2524
           12                             848
E12000002 -9                            18755
           1                              357
           2                             7726
           3                             3778
           4                             9016
           5                             3355
           6                             3981
           7                             1597
           8                             5822
           9                             3096
           10                            4890
           11                            6764
           12                            2299
E12000003 -9                            14089
           1                              362
           2                             5956
           3                             3028
...                                       ...
E12000008  9                             4145
           10                            6593
           11                            7344
           12                            3316
E12000009 -9                            12401
           1                              697
           2                             5012
           3                             3033
           4                             6899
           5                             2712
           6                             2961
           7                             1510
           8                             4475
           9                             2973
           10                            4039
           11                            5085
           12                            1977
W92000004 -9                             7937

In [72]:
easy12 = df.groupby(['Occupation','Approximated Social Grade']).count()

In [73]:
easy12

                                      Person ID  Region  Residence Type  \
Occupation Approximated Social Grade
-9         -9                            116915  116915          116915
            1                              1051    1051            1051
            2                             17787   17787           17787
            3                              2062    2062            2062
            4                             12169   12169           12169
 1         -9                               492     492             492
            1                             19190   19190           19190
            2                             18555   18555           18555
            3                               584     584             584
            4                               967     967             967
 2         -9                               884     884             884
            1                             48104   48104           48104
            2                             13223   13223           13223
            3                               891     891             891
            4                              1009    1009            1009
 3         -9                               819     819             819
            1                              7050    7050            7050
            2                             35435   35435           35435
            3                               647     647             647
            4                               986     986             986
 4         -9                               727     727             727
            1                              3000    3000            3000
            2                             44922   44922           44922
            3                              2353    2353            2353
            4                              2252    2252            2252
 5         -9                               678     678             678
            1                               585     585             585
            2                              2464    2464            2464
            3                             37190   37190           37190
            4                              7629    7629            7629
 6         -9                               478     478             478
            1                              1061    1061            1061
            2                              6343    6343            6343
            3                             15555   15555           15555
            4                             13860   13860           13860
 7         -9                              1031    1031            1031
            1                               964     964             964
            2                             12184   12184           12184
            3                              2997    2997            2997
            4                             21347   21347           21347
 8         -9                               441     441             441
            1                               413     413             413
            2                              1719    1719            1719
            3                             11157   11157           11157
            4                             21088   21088           21088
 9         -9                              1638    1638            1638
            1                               902     902             902
            2                              7010    7010            7010
            3                              6500    6500            6500
            4                             42433   42433           42433

                                      Family Composition  Population Base  \
Occupation Approximated Social Grade
-9         -9                                     116915           116915
            1                                       1051             1051
            2                                      17787            17787
            3                                       2062             2062
            4                                      12169            12169
 1         -9                                        492              492
            1                                      19190            19190
            2                                      18555            18555
            3                                        584              584
            4                                        967              967
 2         -9                                        884              884
            1                                      48104            48104
            2                                      13223            13223
            3                                        891              891
            4                                       1009             1009
 3         -9                                        819              819
            1                                       7050             7050
            2                                      35435            35435
            3                                        647              647
            4                                        986              986
 4         -9                                        727              727
            1                                       3000             3000
            2                                      44922            44922
            3                                       2353             2353
            4                                       2252             2252
 5         -9                                        678              678
            1                                        585              585
            2                                       2464             2464
            3                                      37190            37190
            4                                       7629             7629
 6         -9                                        478              478
            1                                       1061             1061
            2                                       6343             6343
            3                                      15555            15555
            4                                      13860            13860
 7         -9                                       1031             1031
            1                                        964              964
            2                                      12184            12184
            3                                       2997             2997
            4                                      21347            21347
 8         -9                                        441              441
            1                                        413              413
            2                                       1719             1719
            3                                      11157            11157
            4                                      21088            21088
 9         -9                                       1638             1638
            1                                        902              902
            2                                       7010             7010
            3                                       6500             6500
            4                                      42433            42433

                                         Sex     Age  Marital Status  Student  \
Occupation Approximated Social Grade
-9         -9                         116915  116915          116915   116915
            1                           1051    1051            1051     1051
            2                          17787   17787           17787    17787
            3                           2062    2062            2062     2062
            4                          12169   12169           12169    12169
 1         -9                            492     492             492      492
            1                          19190   19190           19190    19190
            2                          18555   18555           18555    18555
            3                            584     584             584      584
            4                            967     967             967      967
 2         -9                            884     884             884      884
            1                          48104   48104           48104    48104
            2                          13223   13223           13223    13223
            3                            891     891             891      891
            4                           1009    1009            1009     1009
 3         -9                            819     819             819      819
            1                           7050    7050            7050     7050
            2                          35435   35435           35435    35435
            3                            647     647             647      647
            4                            986     986             986      986
 4         -9                            727     727             727      727
            1                           3000    3000            3000     3000
            2                          44922   44922           44922    44922
            3                           2353    2353            2353     2353
            4                           2252    2252            2252     2252
 5         -9                            678     678             678      678
            1                            585     585             585      585
            2                           2464    2464            2464     2464
            3                          37190   37190           37190    37190
            4                           7629    7629            7629     7629
 6         -9                            478     478             478      478
            1                           1061    1061            1061     1061
            2                           6343    6343            6343     6343
            3                          15555   15555           15555    15555
            4                          13860   13860           13860    13860
 7         -9                           1031    1031            1031     1031
            1                            964     964             964      964
            2                          12184   12184           12184    12184
            3                           2997    2997            2997     2997
            4                          21347   21347           21347    21347
 8         -9                            441     441             441      441
            1                            413     413             413      413
            2                           1719    1719            1719     1719
            3                          11157   11157           11157    11157
            4                          21088   21088           21088    21088
 9         -9                           1638    1638            1638     1638
            1                            902     902             902      902
            2                           7010    7010            7010     7010
            3                           6500    6500            6500     6500
            4                          42433   42433           42433    42433

                                      Country of Birth  Health  Ethnic Group  \
Occupation Approximated Social Grade
-9         -9                                   116915  116915        116915
            1                                     1051    1051          1051
            2                                    17787   17787         17787
            3                                     2062    2062          2062
            4                                    12169   12169         12169
 1         -9                                      492     492           492
            1                                    19190   19190         19190
            2                                    18555   18555         18555
            3                                      584     584           584
            4                                      967     967           967
 2         -9                                      884     884           884
            1                                    48104   48104         48104
            2                                    13223   13223         13223
            3                                      891     891           891
            4                                     1009    1009          1009
 3         -9                                      819     819           819
            1                                     7050    7050          7050
            2                                    35435   35435         35435
            3                                      647     647           647
            4                                      986     986           986
 4         -9                                      727     727           727
            1                                     3000    3000          3000
            2                                    44922   44922         44922
            3                                     2353    2353          2353
            4                                     2252    2252          2252
 5         -9                                      678     678           678
            1                                      585     585           585
            2                                     2464    2464          2464
            3                                    37190   37190         37190
            4                                     7629    7629          7629
 6         -9                                      478     478           478
            1                                     1061    1061          1061
            2                                     6343    6343          6343
            3                                    15555   15555         15555
            4                                    13860   13860         13860
 7         -9                                     1031    1031          1031
            1                                      964     964           964
            2                                    12184   12184         12184
            3                                     2997    2997          2997
            4                                    21347   21347         21347
 8         -9                                      441     441           441
            1                                      413     413           413
            2                                     1719    1719          1719
            3                                    11157   11157         11157
            4                                    21088   21088         21088
 9         -9                                     1638    1638          1638
            1                                      902     902           902
            2                                     7010    7010          7010
            3                                     6500    6500          6500
            4                                    42433   42433         42433

                                      Religion  Economic Activity  Industry  \
Occupation Approximated Social Grade
-9         -9                           116915             116915    116915
            1                             1051               1051      1051
            2                            17787              17787     17787
            3                             2062               2062      2062
            4                            12169              12169     12169
 1         -9                              492                492       492
            1                            19190              19190     19190
            2                            18555              18555     18555
            3                              584                584       584
            4                              967                967       967
 2         -9                              884                884       884
            1                            48104              48104     48104
            2                            13223              13223     13223
            3                              891                891       891
            4                             1009               1009      1009
 3         -9                              819                819       819
            1                             7050               7050      7050
            2                            35435              35435     35435
            3                              647                647       647
            4                              986                986       986
 4         -9                              727                727       727
            1                             3000               3000      3000
            2                            44922              44922     44922
            3                             2353               2353      2353
            4                             2252               2252      2252
 5         -9                              678                678       678
            1                              585                585       585
            2                             2464               2464      2464
            3                            37190              37190     37190
            4                             7629               7629      7629
 6         -9                              478                478       478
            1                             1061               1061      1061
            2                             6343               6343      6343
            3                            15555              15555     15555
            4                            13860              13860     13860
 7         -9                             1031               1031      1031
            1                              964                964       964
            2                            12184              12184     12184
            3                             2997               2997      2997
            4                            21347              21347     21347
 8         -9                              441                441       441
            1                              413                413       413
            2                             1719               1719      1719
            3                            11157              11157     11157
            4                            21088              21088     21088
 9         -9                             1638               1638      1638
            1                              902                902       902
            2                             7010               7010      7010
            3                             6500               6500      6500
            4                            42433              42433     42433

                                      Hours worked per week
Occupation Approximated Social Grade
-9         -9                                        116915
            1                                          1051
            2                                         17787
            3                                          2062
            4                                         12169
 1         -9                                           492
            1                                         19190